<div class="square center-polygon">
    <div class="sun">
        <span class="wave-100"></span>
        <span class="wave-50"></span>
        <span class="wave-20"></span>
    </div>

    <div class="floor">
        <span class="floor-1">
            <span class="tree"></span>
        </span>
        <span class="floor-2">
            <span class="tree"></span>
        </span>
        <span class="floor-3">
            <span class="tree-1"></span>
            <span class="tree-2"></span>
        </span>
        <span class="floor-4">
            <span class="tree-1"></span>
            <span class="tree-2"></span>
        </span>
        <span class="floor-5">
            <span class="tree"></span>
        </span>
    </div>
</div>